.container {
  padding: 1rem;
  position: relative;
  text-align: center;
}

.buttonContainer {
  position: relative;
  text-align: start;
  margin-left: 7.2%;
  margin-top: 2rem;
}

.errorMessage {
  color: red;
  margin: 0;
  padding: 0;
  text-align: start;
  padding-left: 9%;
  font-size: 14px;
  display: block;
  visibility: none;
}

.errorMessageHidden {
  visibility: Hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
