.icon {
  width: 1.3rem;
  height: 1.3rem;
}
.iconLayout {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-left: 2rem;
  list-style: none;
  margin: 0;
}
.iconItem {
  margin-right: 1.5rem;
}
