.container {
  max-width: 100%;
  margin: 1rem;
  margin-top: 14rem;
  margin-left: 10rem;
}
.cardBody {
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: start;
  padding: 1rem;
}
.header {
  font-size: 3rem;
  margin: 0;
  color: #272727;
  padding: 1rem;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  letter-spacing: 0px;
}
.smallText {
  padding-left: 1rem;
  margin: 0rem;
}
