.iconDark {
  width: 1.3rem;
  height: 1.3rem;
  color: #000;
  transition: 2s;
}
.iconWhite {
  width: 1.3rem;
  height: 1.3rem;
  color: #2c2c2c;
  transition: 2s;
}
.iconLayout {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-left: 2rem;
  list-style: none;
  margin: 0;
}
.iconItem {
  margin-right: 1.5rem;
}
