.navbar {
  position: relative;
  background-color: transparent;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.darknavbarbrand {
  padding-left: 5rem;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
  transition: 2s;
}

.whitenavbarbrand {
  padding-left: 5rem;
  font-family: "Poppins-Bold";
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 2rem;
  text-decoration: none;
  color: #ffff;
  transition: 2s;
  transition-delay: 0.5s;
}

.navbarlenght {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.fixedtop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (max-width: 575px) {
  .navbar {
    padding: 0.5rem;
  }
  .darknavbarbrand {
    padding-left: 1rem;
  }
  .whitenavbarbrand {
    padding-left: 1rem;
  }
  .navbarlenght {
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .navbarlenght {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media (min-width: 575px) {
  .navbar {
    padding: 0.5rem;
  }
  .darknavbarbrand {
    padding-left: 2rem;
  }
  .whitenavbarbrand {
    padding-left: 2rem;
  }
  .navbarlenght {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media (min-width: 768px) {
  .navbar {
    padding: 0.5rem;
  }
  .darknavbarbrand {
    padding-left: 3rem;
  }
  .whitenavbarbrand {
    padding-left: 3rem;
  }
}
@media (min-width: 992px) {
  .navbar {
    padding: 1rem;
  }
  .darknavbarbrand {
    padding-left: 5rem;
  }
  .whitenavbarbrand {
    padding-left: 5rem;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding: 1rem;
  }
  .darknavbarbrand {
    padding-left: 6rem;
  }
  .whitenavbarbrand {
    padding-left: 6rem;
  }
}
@media (min-width: 1400px) {
  .navbar {
    padding: 1rem;
  }
  .darknavbarbrand {
    padding-left: 6rem;
  }
  .whitenavbarbrand {
    padding-left: 6rem;
  }
}
