.container {
  position: absolute;
  top: 13%;
  right: 3.8%;
  background: transparent;
  border: 1px solid red;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  padding: 0.4rem;
  visibility: none;
  z-index: 2;
  /* animation: 1s leftSlide ease-in; */
}

.transparentBg {
  opacity: 0.7;
  background: #fc6b6b;
}

.textBody {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.text {
  color: rgb(172, 0, 0);
  margin: 0;
  font-family: "Poppins-Bold";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@keyframes leftSlide {
  0% {
    transform: translatex(30%);
    opacity: 0;
  }
  20% {
  }
  100% {
    transform: translatex(0%);
    opacity: 1;
  }
}
